<footer>
    <div class="connect">
      <p>C o n n e c t</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
            <ul>
              <li class="items">
                <i class="bi bi-github"></i>
                <a href="https://www.github.com/GerardoRegalado" target="_blank">Github</a>
              </li>
              <li class="items"><i class="bi bi-youtube"></i>Youtube</li>
              <li class="items">
                <i class="bi bi-linkedin"></i>
                <a href="https://www.linkedin.com/in/gerardoregalado" target="_blank">Linkedin</a>
            </li>
            </ul>
        </div>
        <div class="col-4">
          <ul>
            <li class="items">
              <i class="bi bi-instagram"></i>
              <a href="https://www.instagram.com/gerardoregaladol" target="_blank">Instagram</a>
            </li>
            <li class="items"><i class="bi bi-facebook"></i>Facebook</li>
            <li class="items"><i class="bi bi-twitter"></i>Twitter (X)</li>
          </ul>
        </div>
        <div class="col-4">
          <div class="content">
            <p><strong>Email</strong><br/> <span>gerardo.regalado24&#64;gmail.com</span></p>
            <p><strong> Phone </strong><br/> <span>+52 (449) 294 37 24</span></p>
            <p><strong> Location </strong><br/> <span>Aguascalientes, México 🇲🇽 🌮</span></p>
          </div>
        </div>
      </div>
    </div>
</footer>
