<section class="about">
  <div class="content">
    <div class="about-title">
      <p>A B O U T &nbsp;&nbsp; M E</p>
    </div>
    <div class="about-text-container">
      <p class="text-title">
        I'm a <span>web developer</span> with strong focus on  <br/> producing
        <span>high quality apps</span> &  <span>cool digital <br/> experience.</span>
      </p>
      <p class="text-subtitle">
        - and debugging sh*t that I wrote when I was probably
        half-sleep - but hey, it still works as a charm!
      </p>
    </div>
  </div>
</section>
