
<section class="repositories">
  <div class="github-data-container">
    <div class="repositories-title">
      <p>M Y &nbsp;&nbsp; R E P O S I T O R I E S</p>
    </div>
    <section class="github-profile-container" *ngIf="githubUser as user">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img class="img-profile" [src]="user.avatar_url" [alt]="user.login">
          </div>
          <div class="col-7 profile-data">
            <a [href]="user.html_url" target="_blank" rel="noopener noreferrer">
              <h1 class="user">{{user.login}}</h1>
            </a>
            <div class="followers">
              <p>Followers:&nbsp; <span>{{user.followers}}</span></p>
              <p>Following:&nbsp; <span>{{user.following}}</span></p>
              <p>Repos:&nbsp; <span>&nbsp;{{user.public_repos}}</span></p>
              <p>Created At:&nbsp; <span>&nbsp;{{user.created_at | date: 'dd-MM-yyyy'}}</span></p>
            </div>
          </div>
          <div class="col-3 compl-data">
            <div>
              <img src="https://github-readme-stats.vercel.app/api/top-langs?username=GerardoRegalado&locale=en&hide_title=true&layout=compact&card_width=320&langs_count=6&theme=bear&hide_border=true" height="120" alt="languages graph"  />
            </div>
          </div>
        </div>
        <div align="center" class="graph">
          <img height="140" src="https://raw.githubusercontent.com/GerardoRegalado/GerardoRegalado/output/snake.svg" alt="Snake animation" />
        </div>
      </div>
    </section>
    <section class="repositories-container">
      <div class="collection-title">
        <p>C O L L E C T I O N</p>
      </div>
        <div class="container">
          <div class="row">
            <div class="col-4 repo-card" *ngFor="let repo of firstRepos">
              <port-repo-card [repo]="repo"></port-repo-card>
            </div>
            <button class="load-more" *ngIf="firstRepos.length < userRepos.length" (click)="loadMore()">Load {{userRepos.length - 6}} Repos</button>
            <button class="load-more" *ngIf="firstRepos.length === userRepos.length" (click)="hideRepos()">Hide Repos</button>
          </div>
        </div>
    </section>
  </div>
</section>
