<header class="site-toolbar">
  <div class="navbar">
    <span class="link" (click)="scrollTo('home')">Home</span>
    <span class="link" (click)="scrollTo('about-me')">About Me</span>
    <span class="link" (click)="scrollTo('professional-contributions')">Contributions</span>
    <span class="link" (click)="scrollTo('my-repositories')">Repositories</span>
    <span class="link" (click)="scrollTo('studies')">Studies</span>
    <span class="link" (click)="scrollTo('contact')">Contact</span>
  </div>
</header>
